if datas[data].type && datas[data].value
  .row.alert.alert-light
    .col-12.col-md-8.px-0
      p.font-weight-bold.text-center= translation.types[datas[data].type.replace(/#/, '.')] || datas[data].type
      p.mb-2.alert.alert-warning= datas[data].value
    .col-12.col-md-4.pt-3.pr-0
      if (datas[data].sources)
        each source in datas[data].sources
          p.mb-2.text-right
            a(
              href= `#${ source }`
            )= `${ sources[source].title } (${ sources[source].parents && sources[source].parents[0].title })`
      else
        p.alert.alert-secondary.h-100= 'no source !? :/'
      