if datas[data].type && datas[data].value
  .row.alert.alert-light
    .col-12.col-lg-8.px-0
      p.text-center.text-info.font-weight-light.text-uppercase
        small= translation.types[datas[data].type.replace(/#/, '.')] || datas[data].type
      p.font-weight-bold.mb-2.alert.alert-success= datas[data].value
    ul.list-group.col-12.col-lg-4.pt-3.pr-0.pl-2
      if (datas[data].sources)
        each source in datas[data].sources
          li.list-group-item.ml-3.text-right.px-3.py-2
            small
              a.text-muted(
                href= `#${ source }`
              )= `${ sources[source].title } (${ sources[source].parents && sources[source].parents[0].title })`
      else
        p.ml-3.alert.alert-secondary.h-100= 'no source !? :/'
      