.col-12.px-0
  p.font-weight-bold.mb-2.alert.alert-success= datas[data].value
    span.float-right
      if (datas[data].sources)
        each source in datas[data].sources
          a(
            href= `#${ source }`
            title= `${ sources[source].title } ${ sources[source].parents && `(${ sources[source].parents[0].title })` }`
          )
            span.badge.badge-pill.badge-light.mx-1= (sources[source].parents ? sources[source].parents[0] : sources[source]).title.split(/[\ \-\,\.]/g).slice(0, 3).map(val => val[0]).join('').toUpperCase()