nav.navbar.navbar-expand-md.navbar-dark.bg-success
  a.navbar-brand.text-white(
    href=`/${ lang }`
  ) PERMADATA
  button.navbar-toggler(
    type="button"
    data-toggle="collapse"
    data-target="#navbar-content"
    aria-controls="navbar-content"
    aria-expanded="false"
    aria-label="toggle navigation")
    span(class="navbar-toggler-icon")
  #navbar-content.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
    ul.navbar-nav
      li.alert.alert-secondary.bundle-false.mb-0.py-2.mx-1
        p.loading-bundle.mb-0= translation.loading.files
      li.alert.alert-secondary.bundle-true.auth-true.data-loading.mb-0.py-2.mx-1.d-none
        p.loading-user.mb-0= translation.loading.userAuth
      li#login-button-container.auth-none.nav-item.mx-1.my-2.my-md-0.d-none
        button#login-button.btn.btn-light.text-uppercase.py-2.col-12= translation.authenticate
      li#anchor-user-panel.auth-data.nav-item.mx-1.alert.alert-info.mb-0.pb-1.pt-2.my-2.my-md-0.d-none
      if id !== 'home'
        li#search-plant-button-container.bundle-true.nav-item.mx-1.my-2.my-md-0.d-none
          button#search-plant-button.btn.btn-light.text-uppercase.py-2.col-12= translation.searchPlant
      li.nav-item.mx-1.my-2.my-md-0
        a.btn.btn-outline-light.text-light.nav-link.text-uppercase(
          href=`/${ lang === 'en' ? 'fr' : 'en' }${ url }`
        )= `${ lang === 'en' ? 'fr' : 'en' }`