nav.navbar.navbar-expand-md.navbar-dark.bg-info
  a.navbar-brand.text-white(
    href=`/${ lang }`
  ) PERMADATA
  button.navbar-toggler(
    type="button"
    data-toggle="collapse"
    data-target="#navbar-content"
    aria-controls="navbar-content"
    aria-expanded="false"
    aria-label="toggle navigation")
    span(class="navbar-toggler-icon")
  #navbar-content.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
    ul.navbar-nav
      li#search-plant-button-container.nav-item.mx-1.my-2.my-md-0.d-none
        button#search-plant-button.btn.btn-light.text-uppercase.py-2.col-12= translation.searchPlant
      li#login-button-container.auth-none.nav-item.mx-1.my-2.my-md-0
        button#login-button.btn.btn-light.text-uppercase.py-2.col-12= translation.authenticate
      li#anchor-user-panel.auth-true.d-none.nav-item.mx-1.alert.alert-info.mb-0.pb-1.pt-2.my-2.my-md-0
      li.nav-item.mx-1.my-2.my-md-0
        a.btn.btn-outline-light.text-light.nav-link.text-uppercase(
          href=`/${ lang === 'en' ? 'fr' : 'en' }${ url }`
        )= `${ lang === 'en' ? 'fr' : 'en' }`